.topic{
    background: white;
    color: black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    transition: padding 1s;
}

.topic:hover{
    padding: 1.5rem 1rem;
}

.topic-button{
    margin-right: 1rem;
    background: none;
    border: none;
}

.modify{
    color: blue;
}

.delete{
    color: red;
}

.modify-input{
    border-color: #e8e8e8;
    width: 100%;
}

.links-topics-posts{
    font-weight: 600;
    font-size: 1.5rem;
}

.links-topics-posts:hover{
    font-size: 1.5rem;
}

