.topic{
    background: white;
    color: black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    transition: padding 1s;
    border: 1px #eae9e9 solid;
}

.topic:hover{
    padding: 1.5rem 1rem;
}

.topic-button{
    margin-right: 1rem;
    background: none;
    border: none;
}

.modify{
    color:#0087ff;
}

.delete{
    color: #0087ff;
}

.modify-input{
    border-color: #e8e8e8;
    width: 100%;
}

.links-topics-posts, .display-post-link{
    font-weight: 600;
    font-size: 1.5rem;
}

.links-topics-posts:hover{
    font-size: 1.5rem;
}

.confirm-edit{
   background: none;
   border: none;
   width: auto; 
   margin: 1rem 0;
}

.topics-link{
    font-size: 1rem;
}

.topics-link{
    font-size: 2rem;
    color: black;
}

.topic > * {
    margin-bottom: 0.5rem;
}