.topic{
    background: white;
    color: black;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    transition: padding 1s;
}

.topic:hover{
    padding: 1.5rem 1rem;
}

.topic-button{
    margin-right: 1rem;
    background: none;
    border: none;
}

.modify{
    color: blue;
}

.delete{
    color: red;
}