#dash{
    background: #fbfbfb;
    color: black;
    padding: 4rem 0;
    width: 80%;
    margin: 5rem auto;
    min-height: 100vh;
    border-radius: 10px;
    border: 1px #ececec solid;
}

#dash h1{
    margin: 1rem;
}

#create-new-topic-button{
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
}

#create-new-topic form{
    margin: 1rem;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 2rem;
}

#create-new-topic button{
    border: none;
    margin-top: 1rem;
}

textarea{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
}

#create-new-topic form > *{
    margin-bottom: 1rem;
    margin-top: 1rem;
}