.post-inner-text{
    padding: 1rem;
    border-radius: 10px;
}

.hr-post{
    margin-top: 2rem;
    color: #ffffff5e;
}

.post-info{
    display: none;
}

.cursor-pointer{
    cursor: pointer;
}

.textarea-modify-post{
    width: 100%;
    height: 50vh;
}

.display-post-link{
    display: block;
    background: none;
    color: #584c84;
    font-family: 'Montserrat', sans-serif;
}