
#navbar {
    background: #ffd11c;
    padding: 0.5rem 0;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 2rem;
    background: white;
    padding: 0.5rem 0; 
}

a{
    text-decoration: none;
    color: #1e1431;
    font-size: 1rem;
    transition: font-size 1s;
    font-weight: 500;
}

a:hover{
    font-size: 1.2rem;
}